* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", sans-serif;
}

body {
  background: #f8f9ff;
  color: #101828;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font-family: inherit;
}